
:root {
    --primary-color: rgb(99, 10, 9);
    --secondary-color: rgb(210, 120, 0);
    --black-color: rgb(0, 0, 0);
    --white-color: rgb(255, 255, 254);
    --grey-color: rgb(128, 128, 128);
    --secondary-grey-color: rgb(221, 221, 221);
    --cremma-color: rgb(255, 248, 220);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background: var(--primary-color);
    color: var(--black-color);
}

header {
    background: var(--secondary-color);
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h2 {
    color: var(--white-color);
}

.cart-container {
  padding: 120px 40px;
}

.cart-container h1 {
  color: var(--white-color);
  margin-bottom: 30px;
}

.cart-container h2 {
  color: var(--white-color);  

}
.cart-item {
  display: flex;
  align-items: center;
  gap: 20px;
  background: var(--secondary-grey-color);
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.cart-item img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
}

.qty-btn {
  padding: 5px 10px;
  font-size: 18px;
  margin: 0 5px;
}

.delete-btn {
  background: red;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.finish-btn {
  margin-top: 20px;
  padding: 15px;
  background: var(--secondary-color);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
}